<h1>Stundenpl채ne</h1>

{% if classes or teachers or rooms %}
  <h2>Klassen</h2>

  <table>
    {% for year in classes %}
      <tr>
        {% for class in year %}
          <td><a href="class/{{ class | url_encode }}">{{ class|e }}</a></td>
        {% endfor %}
      </tr>
    {% endfor %}
  </table>

  <h2>R채ume</h2>

  <table>
    {% for row in rooms %}
      <tr>
        {% for room in row %}
          <td><a href="room/{{ room | url_encode }}">{{ room | e }}</a></td>
        {% endfor %}
      </tr>
    {% endfor %}
  <table>
{% else %}
  <p>Momentan sind keine Stundenpl채ne vorhanden.</p>
{% endif %}

<h1>Pausenaufsichten</h1>

{% if halls %}
  <table>
    <tr>
      {% for hall in halls %}
        {{ hall|e }}
      {% endfor %}
    </tr>
  </table>
{% else %}
  <p>Momentan sind keine Aufsichtspl채ne vorhanden.</p>
{% endif %}
