<h1>Stundenpl채ne</h1>

{% if classes|default is not empty or teachers|default is not empty or rooms|default is not empty %}
  {% if classes is defined %}
    <h2>Klassen</h2>

    <table>
      {% for year in classes %}
        <tr>
          {% for class in year %}
            <td><a href="{{ app.url_generator.generate('class', { name: class }) }}">{{ class|e }}</a></td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  {% endif %}

  {% if rooms is defined %}
    <h2>R채ume</h2>

    <table>
      {% for row in rooms %}
        <tr>
          {% for room in row %}
            <td><a href="{{ app.url_generator.generate('room', { name: room }) }}">{{ room|e }}</a></td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  {% endif %}

  {% if teachers is defined %}
    <h2>Lehrer</h2>

    <table>
      {% for row in teachers %}
        <tr>
          {% for teacher in row %}
            <td><a href="{{ app.url_generator.generate('teacher', { name: teacher }) }}">{{ teacher|e }}</a></td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  {% endif %}
{% else %}
  <p>Momentan sind keine Stundenpl채ne vorhanden.</p>
{% endif %}

{% if halls is defined %}
  <h1>Pausenaufsichten</h1>
  {% if halls %}
    <table>
      <tr>
        {% for hall in halls %}
          <td>
            <a href="{{ app.url_generator.generate('hall', { hall: hall }) }}">{{ hall|e }}</a>
          </td>
        {% endfor %}
      </tr>
    </table>
  {% else %}
    <p>Momentan sind keine Aufsichtspl채ne vorhanden.</p>
  {% endif %}
{% endif %}
